body {background-color: black; font-family: roboto, arial, sans-serif; font-size=100%;}
h1 {font-size: 5em; width: 30%; font-variant: small-caps; padding: 20px}
a:link, a:visited {text-decoration: none; color: white;}
a:hover {color: #F5DC04;}