body {background-color: black; font-family: roboto; font-size:100%;}
h1 {font-variant: small-caps; font-size: 1.5em;}
h2 {font-variant: small-caps; text-decoration: underline; font-size: 0.9em;}
a:link, a:visited {text-decoration: none; color: white;}
button {background-color: black; border: none;}

.mainContent {
	position: relative; 
	}

.baseimage {
	z-index: 0;
	position: relative;
	}	

.satellites:hover #whiteSatellite1{
	fill: #F5DC04; opacity: 0.7;
}
.satellites:hover #whiteSatellite2{
	fill: #F5DC04; opacity: 0.7;
}.satellites:hover #whiteSatellite3{
	fill: #F5DC04; opacity: 0.7;
}.satellites:hover #whiteSatellite4{
	fill: #F5DC04; opacity: 0.7;
}.satellites:hover #whiteSatellite5{
	fill: #F5DC04; opacity: 0.7;
}
.micro_nodes:hover #whiteMicroNode1{
	fill: #F5DC04; opacity: 0.7;
}
.micro_nodes:hover #whiteMicroNode2{
	fill: #F5DC04; opacity: 0.7;
}.micro_nodes:hover #whiteMicroNode3{
	fill: #F5DC04; opacity: 0.7;
}.micro_nodes:hover #whiteMicroNode4{
	fill: #F5DC04; opacity: 0.7;
}.micro_nodes:hover #whiteMicroNode5{
	fill: #F5DC04; opacity: 0.7;
}.micro_nodes:hover #whiteMicroNode6{
	fill: #F5DC04; opacity: 0.7;
}.micro_nodes:hover #whiteMicroNode7{
	fill: #F5DC04; opacity: 0.7;
}
.super_nodes:hover #whiteSuperNode1{
	fill: #F5DC04; opacity: 0.7;
}
.super_nodes:hover #whiteSuperNode2{
	fill: #F5DC04; opacity: 0.7;
}

.map_element_click {
	position: fixed;
	bottom: 0;
	background-color: rgba(0,0,0,0.7) ;
}

.map_element_text {
	padding: 30 px;
}

p.map_element_bottom {
	padding-bottom: 40px;
}

p.map_element_click {
	font-size: 0.8em;
	position: relative;
	width: 50%;
	background-color: transparent;
	}

.close_button {
	position: absolute;
	right: 50%;
	top: 5%;
}

#micro_node_back {
	z-index: -1;
	color: transparent;
}

#micro_node_front {
	z-index: 1;
	color: white;
	}

#micro_node_front button{
	color: white;
	display: inline-block;
	border: 2px solid white;
	}

#micro_node_front .map_element_text {
	position: fixed;
	bottom: 0;
	top: 0;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.7);
	padding: 30px;
}

#super_node_back {
	z-index: -1;
	color: transparent;
}
	
#super_node_front {
	z-index: 1;
	color: white;
	}	

#super_node_front button{
	color: white;
	display: inline-block;
	border: 2px solid white;
	}

#super_node_front .map_element_text {
	position: fixed;
	bottom: 0;
	top: 0;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.7);
	padding: 30px;
}

#satellite_back {
	z-index: -1;
	color: transparent;
}
	
#satellite_front {
	z-index: 1;
	color: white;
	}	

#satellite_front button{
	color: white;
	display: inline-block;
	border: 2px solid white;
	}

#satellite_front .map_element_text {
	position: fixed;
	bottom: 0;
	top: 0;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.7);
	padding: 30px;
}